<div class="main-container container product-detail  desktop-offcanvas">
    <ul class="breadcrumb">
        <li><%= link_to '<i class="fa fa-home"></i>'.html_safe,
                        erp_bonnuoclongnhien.root_path, title: 'Quay về trang chủ' %></li>
        <li><%= link_to 'Bồn Nhựa Đứng', erp_bonnuoclongnhien.product_listing_path %></li>
        <li><%= link_to 'Bồn Nhựa Đứng 1000L', 'javascript:void(0)' %></li>
    </ul>

    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-md-12 col-sm-12">
            <div class="product-view">
                <div class="left-content-product">
                    <div class="row">
                        <div class="content-product-left col-md-5 col-sm-12 col-xs-12">
                            <div class="large-image large-image2 vertical">
                                <img itemprop="image" class="product-image-zoom" src="/longnhien/image/catalog/01.png" data-zoom-image="/longnhien/image/catalog/01.png" title="" alt="">
                            </div>
                            <!--<a class="thumb-video pull-left" href=""><i class="fa fa-youtube-play"></i></a>-->
                        </div>

                        <div class="content-product-right col-md-6 col-sm-12 col-xs-12">
                            <div class="title-product">
                                <h1>Bồn Nước Long Nhiên Dạng Đứng 1000L</h1>
                            </div>
                            <div class="product_page_price price" itemprop="offerDetails" itemscope="" itemtype="http://data-vocabulary.org/Offer">
                                <span class="price-new"><span itemprop="price" id="price-special">24.00.000₫</span></span>
                                <span class="price-old" id="price-old">22.00.000₫</span>
                                <span class="label-product label-sale">-10%</span>
                                <div class="price-tax">
                                    <span>Đã bao gồm thuế</span>
                                    <span id="price-tax">VAT 10%</span>
                                </div>
                            </div>
                            <div class="product-box-desc">
                                <div class="inner-box-desc">
                                    <div class="brand"><span>Thương Hiệu:</span>
                                        <%= link_to 'Long Nhiên', '', title: '' %>
                                    </div>
                                    <div class="model"><span>Mã Sản Phẩm:</span> 23UC97</div>
                                    <div class="stock"><span>Trạng Thái:</span> <i class="fa fa-check-square-o"></i> Còn trong kho</div>
                                </div>
                            </div>
                            <div class="short_description form-group text-justify">
                                <h3>Mô tả sản phẩm</h3>
                                The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed specifically for the creative professional, this display provid... The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed specifically for the creative professional, this display provid...
                            </div>
                            <div class="form-group social_share_detail clearfix">
                                <label class="">Chia Sẻ Sản Phẩm:</label>
                                <ul>
                                    <div class="addthis_inline_share_toolbox" data-url="http://demo.smartaddons.com/templates/html/revo/product-v2.html#" data-title="Revo - Multipurpose Responsive HTML5 Template" style="clear: both;">
                                        <div id="atstbx" class="at-resp-share-element at-style-responsive addthis-smartlayers addthis-animated at4-show" aria-labelledby="at-456cbdb1-eed5-4ee5-a7f8-f4781f70cbea" role="region"><span id="at-456cbdb1-eed5-4ee5-a7f8-f4781f70cbea" class="at4-visually-hidden">AddThis Sharing Buttons</span>
                                            <div class="at-share-btn-elements"><a role="button" tabindex="1" class="at-icon-wrapper at-share-btn at-svc-facebook" style="background-color: rgb(59, 89, 152); border-radius: 0px;"><span class="at4-visually-hidden">Share to Facebook</span><span class="at-icon-wrapper" style="line-height: 20px; height: 20px; width: 20px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-facebook-1" class="at-icon at-icon-facebook" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;"><title id="at-svg-facebook-1">Facebook</title><g><path d="M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z" fill-rule="evenodd"></path></g></svg></span></a><a role="button" tabindex="1" class="at-icon-wrapper at-share-btn at-svc-twitter" style="background-color: rgb(29, 161, 242); border-radius: 0px;"><span class="at4-visually-hidden">Share to Twitter</span><span class="at-icon-wrapper" style="line-height: 20px; height: 20px; width: 20px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-twitter-2" class="at-icon at-icon-twitter" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;"><title id="at-svg-twitter-2">Twitter</title><g><path d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336" fill-rule="evenodd"></path></g></svg></span></a><a role="button" tabindex="1" class="at-icon-wrapper at-share-btn at-svc-pinterest_share" style="background-color: rgb(203, 32, 39); border-radius: 0px;"><span class="at4-visually-hidden">Share to Pinterest</span><span class="at-icon-wrapper" style="line-height: 20px; height: 20px; width: 20px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-pinterest_share-3" class="at-icon at-icon-pinterest_share" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;"><title id="at-svg-pinterest_share-3">Pinterest</title><g><path d="M7 13.252c0 1.81.772 4.45 2.895 5.045.074.014.178.04.252.04.49 0 .772-1.27.772-1.63 0-.428-1.174-1.34-1.174-3.123 0-3.705 3.028-6.33 6.947-6.33 3.37 0 5.863 1.782 5.863 5.058 0 2.446-1.054 7.035-4.468 7.035-1.232 0-2.286-.83-2.286-2.018 0-1.742 1.307-3.43 1.307-5.225 0-1.092-.67-1.977-1.916-1.977-1.692 0-2.732 1.77-2.732 3.165 0 .774.104 1.63.476 2.336-.683 2.736-2.08 6.814-2.08 9.633 0 .87.135 1.728.224 2.6l.134.137.207-.07c2.494-3.178 2.405-3.8 3.533-7.96.61 1.077 2.182 1.658 3.43 1.658 5.254 0 7.614-4.77 7.614-9.067C26 7.987 21.755 5 17.094 5 12.017 5 7 8.15 7 13.252z" fill-rule="evenodd"></path></g></svg></span></a><a role="button" tabindex="1" class="at-icon-wrapper at-share-btn at-svc-google_plusone_share" style="background-color: rgb(220, 78, 65); border-radius: 0px;"><span class="at4-visually-hidden">Share to Google+</span><span class="at-icon-wrapper" style="line-height: 20px; height: 20px; width: 20px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-google_plusone_share-4" class="at-icon at-icon-google_plusone_share" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;"><title id="at-svg-google_plusone_share-4">Google+</title><g><path d="M12 15v2.4h3.97c-.16 1.03-1.2 3.02-3.97 3.02-2.39 0-4.34-1.98-4.34-4.42s1.95-4.42 4.34-4.42c1.36 0 2.27.58 2.79 1.08l1.9-1.83C15.47 9.69 13.89 9 12 9c-3.87 0-7 3.13-7 7s3.13 7 7 7c4.04 0 6.72-2.84 6.72-6.84 0-.46-.05-.81-.11-1.16H12zm15 0h-2v-2h-2v2h-2v2h2v2h2v-2h2v-2z" fill-rule="evenodd"></path></g></svg></span></a><a role="button" tabindex="1" class="at-icon-wrapper at-share-btn at-svc-compact" style="background-color: rgb(255, 101, 80); border-radius: 0px;"><span class="at4-visually-hidden">Share to More</span><span class="at-icon-wrapper" style="line-height: 20px; height: 20px; width: 20px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-addthis-5" class="at-icon at-icon-addthis" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;"><title id="at-svg-addthis-5">Addthis</title><g><path d="M18 14V8h-4v6H8v4h6v6h4v-6h6v-4h-6z" fill-rule="evenodd"></path></g></svg></span></a></div>
                                        </div>
                                    </div>
                                    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-529be2200cc72db5"></script>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="producttab clearfix">
                <div class="tabsslider horizontal-tabs col-xs-12">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1">Giới Thiệu Sản Phẩm Bồn Nước Long Nhiên Dạng Đứng 1000L</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade active in">
                            <p>
                                The 43-inch Sam Sung Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed specifically for the creative professional, this display provides more space for easier access to all the tools and palettes needed to edit, format and composite your work.<br>
                                <br> The Cinema HD features an active-matrix liquid crystal display that produces flicker-free images that deliver twice the brightness, twice the sharpness and twice the contrast ratio of a typical CRT display. Unlike other flat panels, it's designed with a pure digital
                            </p>
                            <h3>
                                <b>Features:</b></h3>
                            <p>
                                Unrivaled display performance</p>
                            <ul>
                                <li>
                                    30-inch (viewable) active-matrix liquid crystal display provides breathtaking image quality and vivid, richly saturated color.</li>

                            </ul>
                            <p>
                                Simple setup and operation</p>

                            <h3>
                                Technical specifications</h3>

                            <p>
                                <b>Resolutions</b></p>
                            <ul>
                                <li>
                                    2560 x 1600 pixels (optimum resolution)</li>
                                <li>
                                    2048 x 1280</li>
                                <li>
                                    1920 x 1200</li>
                            </ul>
                            <p>
                                <b>Display colors (maximum)</b></p>
                            <ul>
                                <li>16.7 million</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="module so-extraslider-ltr custom_bestseler default-nav">
                <h3 class="modtitle"><span>Sản Phẩm Liên Quan</span></h3>
                <div class="modcontent">
                    <div class="so-extraslider">
                        <div class="extraslider-inner products-list grid">
                            <div class="yt-content-slider " data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="6" data-items_column1="5" data-items_column2="4" data-items_column3="3" data-items_column4="1" data-arrows="no" data-pagination="yes" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                                <% (0..5).each do |product| %>    
                                    <div class="item">
                                        <div class="item-inner product-thumb transition product-layout">
                                            <div class="product-item-container">
                                                <div class="left-block left-b">
                                                    <div class="product-image-container">
                                                        <%= link_to image_tag('/longnhien/image/catalog/demo/product/01_small.png', alt: '', title: '', class: 'img-1 img-responsive'),
                                                                    '', title: '', target: "_self" %>
                                                    </div>
                                                    <div class="box-label"><span class="label-product label-new">Mới 2018</span></div>                                                                                                                                                                                  
                                                </div>
                                                <div class="right-block right-b">                                                    
                                                    <div class="caption">                                                        
                                                        <h4><%= link_to 'Bồn Nhựa Đứng 1000L', '', title: '', target: '_self' %></h4>
                                                        <div class="price"><span class="price-new">24.000.000₫</span></div>                                                      
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="module so-extraslider-ltr custom_bestseler default-nav">
                <h3 class="modtitle"><span>Sản Phẩm Mới 2018</span></h3>
                <div class="modcontent">
                    <div class="so-extraslider">
                        <div class="extraslider-inner products-list grid">
                            <div class="yt-content-slider " data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="6" data-items_column1="5" data-items_column2="4" data-items_column3="3" data-items_column4="1" data-arrows="no" data-pagination="yes" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                                <% (0..5).each do |product| %>    
                                    <div class="item">
                                        <div class="item-inner product-thumb transition product-layout">
                                            <div class="product-item-container">
                                                <div class="left-block left-b">
                                                    <div class="product-image-container">
                                                        <%= link_to image_tag('/longnhien/image/catalog/demo/product/01_small.png', alt: '', title: '', class: 'img-1 img-responsive'),
                                                                    '', title: '', target: "_self" %>
                                                    </div>
                                                    <div class="box-label"><span class="label-product label-new">Mới 2018</span></div>                                                                                                                                                                                  
                                                </div>
                                                <div class="right-block right-b">                                                    
                                                    <div class="caption">                                                        
                                                        <h4><%= link_to 'Bồn Nhựa Đứng 1000L', '', title: '', target: '_self' %></h4>
                                                        <div class="price"><span class="price-new">24.000.000₫</span></div>                                                      
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>