<div class="main-container container">
    <ul class="breadcrumb">
        <li>
            <%= link_to '<i class="fa fa-home"></i>'.html_safe,
                        erp_bonnuoclongnhien.root_path, title: 'Quay về trang chủ' %></li>
        <li><%= link_to 'Bồn Nhựa Đứng', 'javascript:void(0)' %></li>
    </ul>
    
    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-md-12 col-sm-12">
            <div class="products-category">
                <div class="category-derc form-group">
                    <h1 class="title-category">Bồn Nhựa Đứng</h1>
                    <div class="banners">
                        <div>
                            <%= link_to image_tag('/longnhien/image/catalog/img-cate.jpg', alt: '', title: ''),
                                        '', title: '' %>
                        </div>
                    </div>
                    <div class="category-desc text-justify">
                        <p>Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus. Sed ut perspiciatis sit voluptatem accusantium doloremque laudantium. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipisMauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in,auctor ut, ligula. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. </p>
                    </div>
                </div>
                <!--changed listings-->
                <div class="products-list row nopadding-xs so-filter-gird grid">
                    <% (0..19).each do |product| %>
                        <div class="product-layout col-lg-15 col-md-4 col-sm-6 col-xs-12">
                            <div class="product-item-container">
                                <div class="left-block left-b">
                                    <div class="product-image-container">
                                        <%= link_to image_tag('/longnhien/image/catalog/01.png', alt: '', title: '', class: 'img-1 img-responsive'),
                                                    erp_bonnuoclongnhien.product_detail_path, title: '', target: '_self' %>
                                    </div>
                                    <div class="box-label">
                                        <span class="label-product label-sale">-10%</span>
                                        <span class="label-product label-new">Mới 2018</span>
                                    </div>                                   
                                </div>
                                <div class="right-block right-b">        
                                    <div class="caption">
                                        <h4><%= link_to 'Bồn Nhựa Đứng 1000L', erp_bonnuoclongnhien.product_detail_path, title: '', target: '_self' %></h4>
                                        <div class="price"> <span class="price-new">24.000.000₫</span>
                                            <span class="price-old">22.000.000₫</span>
                                        </div>                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
    
                <div class="product-filter product-filter-bottom filters-panel">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <ul class="pagination">
                                <li class="active"><span>1</span></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">&gt;</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 text-right text-show">Hiển thị 1 ~ 12 sản phẩm.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>