<div class="header-bottom hidden-compact">
    <div class="container">
        <div class="header-bottom-inner">
            <div class="row">
                <div class="header-bottom-right col-md-12 col-sm-12 col-xs-12">
                    <div class="header-menu col-lg-12 col-md-12 col-sm-12 col-xs-9">
                        <div class="megamenu-style-dev megamenu-dev">
                            <div class="responsive so-megamenu megamenu-style-dev">
                                <nav class="navbar-default">
                                    <div class=" container-megamenu  horizontal open ">
                                        <div class="navbar-header">
                                            <button type="button" id="show-megamenu" data-toggle="collapse" class="navbar-toggle">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        </div>
                                        <div class="megamenu-wrapper">
                                            <span id="remove-megamenu" class="fa fa-times"></span>
                                            <div class="megamenu-pattern">
                                                <div class="container-mega">
                                                    <ul class="megamenu" data-transition="slide" data-animationtime="250">
                                                        <li>
                                                            <p class="close-menu"></p>
                                                            <%= link_to '<strong>Trang Chủ</strong><span class="label"></span>'.html_safe,
                                                                        erp_bonnuoclongnhien.root_path,
                                                                        title: 'Truy cập trang chủ', class: 'clearfix' %>
                                                        </li>
                                                        <li>
                                                            <p class="close-menu"></p>
                                                            <%= link_to '<strong>Giới Thiệu</strong><span class="label"></span>'.html_safe,
                                                                        '',
                                                                        title: 'Truy cập trang giới thiệu', class: 'clearfix' %>
                                                        </li>
                                                        <li>
                                                            <p class="close-menu"></p>
                                                            <%= link_to '<strong>Bồn Nhựa Đứng</strong><span class="label"></span>'.html_safe,
                                                                        erp_bonnuoclongnhien.product_listing_path,
                                                                        title: 'Truy cập trang bồn nhựa đứng', class: 'clearfix' %>
                                                        </li>
                                                        <li>
                                                            <p class="close-menu"></p>
                                                            <%= link_to '<strong>Bồn Nhựa Oval</strong><span class="label"></span>'.html_safe,
                                                                        erp_bonnuoclongnhien.product_listing_path,
                                                                        title: 'Truy cập trang bồn nhựa oval', class: 'clearfix' %>
                                                        </li>
                                                        <li>
                                                            <p class="close-menu"></p>
                                                            <%= link_to '<strong>Bồn Nhựa Vuông</strong><span class="label"></span>'.html_safe,
                                                                        erp_bonnuoclongnhien.product_listing_path,
                                                                        title: 'Truy cập trang bồn nhựa vuông', class: 'clearfix' %>
                                                        </li>
                                                        <li>
                                                            <p class="close-menu"></p>
                                                            <%= link_to '<strong>Chậu Nhựa</strong><span class="label"></span>'.html_safe,
                                                                        erp_bonnuoclongnhien.product_listing_path,
                                                                        title: 'Truy cập trang chậu nhựa', class: 'clearfix' %>
                                                        </li>
                                                        <li>
                                                            <p class="close-menu"></p>
                                                            <%= link_to '<strong>Tin Tức</strong><span class="label"></span>'.html_safe,
                                                                        erp_bonnuoclongnhien.blog_listing_path,
                                                                        title: 'Truy cập trang tin tức', class: 'clearfix' %>
                                                        </li>
                                                        <li>
                                                            <p class="close-menu"></p>
                                                            <%= link_to '<strong>Liên Hệ</strong><span class="label"></span>'.html_safe,
                                                                        erp_bonnuoclongnhien.contact_us_path,
                                                                        title: 'Truy cập trang liên hệ', class: 'clearfix' %>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>