<div class="main-container">
    <div class="container">
        <div class="block block_1">
            <div class="policy-w">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="policy policy1"><i class="fa fa-check-circle"></i><span class="font-ct">TƯ VẤN BÁN HÀNG</span> (028) 6271 8845</div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="policy policy2"><i class="fa fa-check-circle"></i><span class="font-ct">THANH TOÁN KHI GIAO HÀNG</span></div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="policy policy2"><i class="fa fa-check-circle"></i><span class="font-ct">SẢN XUẤT BỒN NƯỚC</span> Theo yêu cầu</div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="policy policy3"><i class="fa fa-check-circle"></i><span class="font-ct">THỜI GIAN LÀM VIỆC</span> 8h00 ~ 17h00</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block block_2">
            <div class="module sohomepage-slider ">
                <div class="yt-content-slider" data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="1" data-items_column1="1" data-items_column2="1" data-items_column3="1" data-items_column4="1" data-arrows="no" data-pagination="yes" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                    <% (0..1).each do |slider| %>
                        <div class="yt-content-slide">
                            <a title="slide1" href="#">
                                <img src="/longnhien/image/catalog/demo/slideshow/home5/slide1.jpg" alt="slidnsie img" class="respove">
                            </a>
                        </div>
                    <% end %>
                    <% (0..1).each do |slider| %>
                        <div class="yt-content-slide">
                            <a title="slide1" href="#">
                                <img src="/longnhien/image/catalog/demo/slideshow/home5/slide2.jpg" alt="slidnsie img" class="respove">
                            </a>
                        </div>
                    <% end %>
                    <% (0..1).each do |slider| %>
                        <div class="yt-content-slide">
                            <a title="slide1" href="#">
                                <img src="/longnhien/image/catalog/demo/slideshow/home5/slide3.jpg" alt="slidnsie img" class="respove">
                            </a>
                        </div>
                    <% end %>
                </div>
                <div class="loadeding"></div>
            </div>
        </div>
        <div class="block block_3">
            <div class="h5-img-block1 banners row">
                <div class="col-lg-4 col-md-4 col-sm-4 item item1">
                    <%= link_to image_tag('/longnhien/image/catalog/demo/banners/home5/banner-51.jpg', alt: '', title: ''), '', title: '' %>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 item item2">
                    <%= link_to image_tag('/longnhien/image/catalog/demo/banners/home5/banner-52.jpg', alt: '', title: ''), '', title: '' %>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 item item3">
                    <%= link_to image_tag('/longnhien/image/catalog/demo/banners/home5/banner-53.jpg', alt: '', title: ''), '', title: '' %>
                </div>
            </div>
        </div>
        <div class="block block_4">
            <div class="module so-extraslider-ltr custom_bestseler default-nav">
                <h3 class="modtitle"><span>Sản Phẩm Mới 2018</span></h3>
                <div class="modcontent">
                    <div class="so-extraslider">
                        <div class="extraslider-inner products-list grid">
                            <div class="yt-content-slider " data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="6" data-items_column1="5" data-items_column2="4" data-items_column3="3" data-items_column4="1" data-arrows="no" data-pagination="yes" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                                <% (0..5).each do |product| %>    
                                    <div class="item">
                                        <div class="item-inner product-thumb transition product-layout">
                                            <div class="product-item-container">
                                                <div class="left-block left-b">
                                                    <div class="product-image-container">
                                                        <%= link_to image_tag('/longnhien/image/catalog/demo/product/01_small.png', alt: '', title: '', class: 'img-1 img-responsive'),
                                                                    '', title: '', target: "_self" %>
                                                    </div>
                                                    <div class="box-label"><span class="label-product label-new">Mới 2018</span></div>
                                                </div>
                                                <div class="right-block right-b">                                                    
                                                    <div class="caption">                                                        
                                                        <h4><%= link_to 'Bồn Nhựa Đứng 1000L', '', title: '', target: '_self' %></h4>
                                                        <div class="price"><span class="price-new">24.000.000₫</span></div>                                                      
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block block_5">
            <div class="h5-img-block2 banners row">
                <div class="col-lg-6 col-md-6 col-sm-6 item item1">
                    <%= link_to image_tag('/longnhien/image/catalog/demo/banners/home5/banner-54.jpg', alt: '', title: ''), '', title: '' %>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 item item1">
                    <%= link_to image_tag('/longnhien/image/catalog/demo/banners/home5/banner-55.jpg', alt: '', title: ''), '', title: '' %>
                </div>
            </div>
        </div>
        <div class="block block_7">
            <div class="module so-extraslider-ltr custom_bestseler default-nav">
                <h3 class="modtitle"><span>Sản Phẩm Bán Chạy Nhất</span></h3>
                <div class="modcontent">
                    <div class="so-extraslider">
                        <div class="extraslider-inner products-list grid">
                            <div class="yt-content-slider " data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="6" data-items_column1="5" data-items_column2="4" data-items_column3="3" data-items_column4="1" data-arrows="no" data-pagination="yes" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                                <% (0..5).each do |product| %>    
                                    <div class="item">
                                        <div class="item-inner product-thumb transition product-layout">
                                            <div class="product-item-container">
                                                <div class="left-block left-b">
                                                    <div class="product-image-container">
                                                        <%= link_to image_tag('/longnhien/image/catalog/demo/product/01_small.png', alt: '', title: '', class: 'img-1 img-responsive'),
                                                                    '', title: '', target: "_self" %>
                                                    </div>
                                                    <div class="box-label"><span class="label-product label-new">Mới 2018</span></div>                                                                                                                                                                                  
                                                </div>
                                                <div class="right-block right-b">                                                    
                                                    <div class="caption">                                                        
                                                        <h4><%= link_to 'Bồn Nhựa Đứng 1000L', '', title: '', target: '_self' %></h4>
                                                        <div class="price"><span class="price-new">24.000.000₫</span></div>                                                      
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="Section-featute" class="">
    <div class="block block_7">
        <div class="container">
            <div class="module">
                <h3 class="modtitle"><span>Chuyên Mục Nổi Bật</span></h3>
                <div class="yt-content-slider cate-content-home5" data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column0="4" data-items_column1="4" data-items_column2="3" data-items_column3="3" data-items_column4="2" data-arrows="no" data-pagination="yes" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                    <div class="cate cate1">
                        <div class="inner">
                            <%= link_to image_tag('/longnhien/image/catalog/demo/banners/home5/banner-56.jpg', alt: '', title: ''),
                                        '', title: '' %>
                            <%= link_to 'Bồn Nhựa Đứng', '', title: '', class: 'title-cate' %>
                        </div>
                    </div>
                    <div class="cate cate2">
                        <div class="inner">
                            <%= link_to image_tag('/longnhien/image/catalog/demo/banners/home5/banner-57.jpg', alt: '', title: ''),
                                        '', title: '' %>
                            <%= link_to 'Bồn Nhựa Oval', '', title: '', class: 'title-cate' %>
                        </div>
                    </div>
                    <div class="cate cate3">
                        <div class="inner">
                            <%= link_to image_tag('/longnhien/image/catalog/demo/banners/home5/banner-58.jpg', alt: '', title: ''),
                                        '', title: '' %>
                            <%= link_to 'Bồn Nhựa Vuông', '', title: '', class: 'title-cate' %>
                        </div>
                    </div>
                    <div class="cate cate4">
                        <div class="inner">
                            <%= link_to image_tag('/longnhien/image/catalog/demo/banners/home5/banner-59.jpg', alt: '', title: ''),
                                        '', title: '' %>
                            <%= link_to 'Chậu Nhựa', '', title: '', class: 'title-cate' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-container2">
    <div id="content">
        <div class="container">
            <div class="block block_9">
                <div class="h5-img-block3 banners">
                    <div class="">
                        <%= link_to image_tag('/longnhien/image/catalog/demo/banners/home5/h5-img-9.jpg', alt: '', title: ''),
                                    '', title: '' %>
                    </div>
                </div>
            </div>
            <div class="block block_10">
                <div class="module so-latest-blog custom-ourblog clearfix default-nav">
                    <h3 class="modtitle"><span>Tin Tức Mới Nhất</span></h3>
                    <div class="modcontent clearfix">
                        <div class="so-blog-external">
                            <div class="yt-content-slider blog-external" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column0="3" data-items_column1="3" data-items_column2="2" data-items_column3="2" data-items_column4="1" data-arrows="no" data-pagination="yes" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                                <% (0..5).each do |blog| %>
                                    <div class="media">
                                        <div class="item">
                                            <div class="content-img">
                                                <%= link_to image_tag('/longnhien/image/catalog/blog/2.jpg', alt: '', title: ''), '', title: '', target: '_self' %>
                                                <div class="entry-date font-ct">
                                                    <div class="day-time">Long</div>
                                                    <div class="month-time">Nhiên</div>
                                                </div>
                                            </div>
                                            <div class="content-detail">
                                                <div class="media-content">
                                                    <h4 class="media-heading font-ct head-item">
                                                        <%= link_to 'Tiêu Đề Tin Tức', '', title: '', target: '_self' %>
                                                    </h4>
                                                    <div class="media-subcontent">
                                                        <span class="media-author"><i class="fa fa-user"></i>Bồn Nước Long Nhiên </span>
                                                        <span class="media-comment"><i class="fa fa-calendar"></i>21/05/2018</span>
                                                    </div>
                                                    <div class="readmore">
                                                        <%= link_to 'Xem Tiếp.....', '', title: '', target: '_self' %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>