<div class="main-container container">
    <ul class="breadcrumb">
        <li>
            <%= link_to '<i class="fa fa-home"></i>'.html_safe,
                        erp_bonnuoclongnhien.root_path, title: 'Quay về trang chủ' %></li>
        <li><%= link_to 'Tin Tức', 'javascript:void(0)' %></li>
    </ul>
    <!-- Middle Part Start -->
    <div class="row">
        <!-- Left Part -->
        <aside class="col-md-3 col-sm-4 col-xs-12 content-aside left_column " id="column-left">
            <div class="module blog-category titleLine">
                <h3 class="modtitle">Chuyên Mục Bài Viết</h3>
                <div class="modcontent">
                    <ul class="list-group ">
                        <li class="list-group-item">
                            <%= link_to 'Hướng dẫn sản phẩm', '', title: '', class: 'group-item active' %>
                        </li>
                        <li class="list-group-item">
                            <%= link_to 'Hướng dẫn sản phẩm', '', title: '', class: 'group-item' %>
                        </li>
                        <li class="list-group-item">
                            <%= link_to 'Hướng dẫn sản phẩm', '', title: '', class: 'group-item' %>
                        </li>
                        <li class="list-group-item">
                            <%= link_to 'Hướng dẫn sản phẩm', '', title: '', class: 'group-item' %>
                        </li>
                        <li class="list-group-item">
                            <%= link_to 'Hướng dẫn sản phẩm', '', title: '', class: 'group-item' %>
                        </li>
                    </ul>                  
                </div>
            </div>
    
            <div class="module product-simple best-seller best-seller-custom">
                <h3 class="modtitle">
                    <span><i class="fa fa-diamond fa-hidden"></i>Sản Phẩm Mới 2018</span>
                </h3>
                <div class="modcontent">
                    <div id="so_extra_slider_1" class="so-extraslider">
                        <div class="yt-content-slider extraslider-inner">
                            <% (0..3).each do |product| %>
                                <div class="item">
                                    <div class="item-wrap style1 ">
                                        <div class="item-wrap-inner">
                                            <div class="media-left">
                                                <div class="item-image">
                                                    <div class="item-img-info">
                                                        <a href="" target="_self" title="">
                                                            <img src="/longnhien/image/catalog/demo/product/01_small.png" alt="">
                                                        </a>
                                                    </div>                                            
                                                </div>
                                            </div>
                                            <div class="media-body">
                                                <div class="item-info">
                                                    <div class="item-title">
                                                        <a href="" target="_self" title="">
                                                            Bồn Nhựa Đứng 1000L
                                                        </a>
                                                    </div>
                                                    <div class="rating">
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                    </div>
                                                    <div class="content_price price">
                                                        <span class="price-new product-price">24.000.000₫</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                           
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>              
            <div class="module banner-left hidden-xs ">
                <div class="banner-sidebar banners">
                    <div>
                        <a title="" href=""> 
                            <img src="/longnhien/image/catalog/demo/banners/home5/banner-sidebar.jpg" alt=""> 
                        </a>
                    </div>
                </div>
            </div>	
        </aside>
        <!-- /Left Part -->
      
        <!--Middle Part Start-->
        <div id="content" class="col-md-9 col-sm-8">
            <div class="blog-header">
              <h1>Danh Sách Tin Tức</h1>        
            </div>
            <div class="blog-category clearfix">
                <div class="blog-listitem row">
                    <% (0..11).each do |blog| %>
                    <div class="blog-item col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="blog-item-inner clearfix">
                            <div class="itemBlogImg clearfix">
                                <div class="article-image">
                                    <div>
                                        <a class="popup-gallery" href="/longnhien/image/catalog/blog/4.jpg">
                                            <img src="/longnhien/image/catalog/blog/1.jpg" alt="Duis autem vel eum irure sed diam nonumy">
                                        </a>
                                    </div>
                                    <div class="article-date">
                                        <div class="date">  <span class="article-date">
                                            <b>Long</b> Nhiên
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="itemBlogContent clearfix ">
                                <div class="blog-content">
                                    <div class="article-title font-title">
                                        <h4>
                                            <a href="">
                                                Tiêu Đề Tin Tức
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="blog-meta">
                                        <span class="author">
                                            <i class="fa fa-user"></i>
                                            Bồn Nước Long Nhiên
                                        </span>
                                        <span class="comment_count">
                                            <i class="fa fa-calendar"></i>
                                            21/05/2018
                                        </span>
                                    </div>
                                    <p class="article-description text-justify">Mùa cuối năm luôn là thời điểm vàng của việc sắm sửa cho gia đình. Và đến với website http://bonnuoclongnhien.com/....</p>
                                    <div class="readmore">
                                        <a class="btn-readmore font-title" href="">
                                            <i class="fa fa-caret-right"></i>Xem Tiếp.....
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
                <div class="product-filter product-filter-bottom filters-panel clearfix">
                    <div class="blog-listitem-bottom row">
                        <p class="col-md-5 col-sm-5">Hiển thị 1 ~ 12 bài viết.</p>
                        <ul class="pagination col-md-7 col-sm-7 text-right">
                            <li class="active"><span>1</span></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">&gt;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Middle Part End -->
</div>