<div class="footer-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xxs-6 col-xs-12 col-style">
                <div class="module custom_link ">
                    <div class="module clearfix">
                        <h3 class="footertitle">Thông Tin Sản Phẩm</h3>
                        <ul id="menu-our-shops" class="menu">
                            <li class="menu-product-support">
                                <%= link_to '<span class="menu-title">Bảng giá sản phẩm</span>'.html_safe,
                                            '', title: 'Bảng giá sản phẩm', class: 'item-link' %>
                            </li>
                            <li class="menu-product-support">
                                <%= link_to '<span class="menu-title">Bồn nhựa đứng</span>'.html_safe,
                                            '', title: 'Bồn nhựa đứng', class: 'item-link' %>
                            </li>
                            <li class="menu-product-support">
                                <%= link_to '<span class="menu-title">Bồn nhựa Oval</span>'.html_safe,
                                            '', title: 'Bồn nhựa Oval', class: 'item-link' %>
                            </li>
                            <li class="menu-product-support">
                                <%= link_to '<span class="menu-title">Bồn nhựa vuông</span>'.html_safe,
                                            '', title: 'Bồn nhựa vuông', class: 'item-link' %>
                            </li>
                            <li class="menu-product-support">
                                <%= link_to '<span class="menu-title">Chậu nhựa</span>'.html_safe,
                                            '', title: 'Chậu nhựa', class: 'item-link' %>
                            </li>
                            <li class="menu-product-support">
                                <%= link_to '<span class="menu-title">Hướng dẫn lắp đặt</span>'.html_safe,
                                            '', title: 'Hướng dẫn lắp đặt', class: 'item-link' %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xxs-6 col-xs-12 col-style">
                <div class="module  ">
                    <div class="footer-block">
                        <div class="footer-block-title">
                            <h3 class="footertitle">Chính Sách Dịch Vụ</h3>
                        </div>
                        <div class="footer-block-content">
                            <ul class="links-footer">
                              <li>
                                    <%= link_to 'Chính sách bảo mật'.html_safe,
                                                '', title: 'Chính sách bảo mật' %>
                                </li>
                                <li>
                                    <%= link_to 'Hướng dẫn mua hàng'.html_safe,
                                                '', title: 'Hướng dẫn mua hàng' %>
                                </li>
                                <li>
                                    <%= link_to 'Hình thức thanh toán'.html_safe,
                                                '', title: 'Hình thức thanh toán' %>
                                </li>                                    
                                <li>
                                    <%= link_to 'Chính sách bảo hành'.html_safe,
                                                '', title: 'Chính sách bảo hành' %>
                                </li>                                    
                                <li>
                                    <%= link_to 'Chính sách vận chuyển & giao nhận'.html_safe,
                                                '', title: 'Chính sách vận chuyển & giao nhận' %>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-style footer-contact">
                <div class="module">
                    <div class="module footer-contact clearfix">
                        <h3 class="footertitle">Thông Tin Công Ty</h3>
                        <ul>
                            <li class="company-name"><i class="fa fa-building"></i>CÔNG TY TNHH SẢN XUẤT THƯƠNG MẠI DỊCH VỤ PHƯƠNG TÙNG</li>
                            <li><i class="fa fa-phone"></i><%= link_to '(028) 6271 8845', 'tel:(028) 6271 8845', title: '' %></li>
                            <li><i class="fa fa-fax"></i></i><%= link_to '(028) 6271 8846', 'tel:(028) 6271 8846', title: '' %></li>
                            <li class="email">
                                <i class="fa fa-envelope-o"></i>
                                <%= mail_to 'phongvt@ptplastics.com.vn', 'phongvt@ptplastics.com.vn', title: 'Gửi email liên hệ' %></span>
                            </li>
                            <li><i class="fa fa-map-marker"></i><span>280/128 Đường Huỳnh Thị Na, Ấp 2, Xã Đông Thạnh, Huyện Hóc Môn, Thành Phố Hồ Chí Minh</span></li>                                                              
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>