<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Trang Chủ - Công Ty TNHH Sản Xuất Thương Mại Dịch Vụ Phương Tùng</title>

    <!-- SEO Meta
    ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <%= stylesheet_link_tag '/phuongtung/css/fontawesome-all.css' %>
    <%= stylesheet_link_tag '/phuongtung/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag '/phuongtung/css/bootstrap.css' %>
    <%= stylesheet_link_tag '/phuongtung/css/jquery-ui.css' %>
    <%= stylesheet_link_tag '/phuongtung/css/owl.carousel.css' %>
    <%= stylesheet_link_tag '/phuongtung/css/fotorama.css' %>
    <%= stylesheet_link_tag '/phuongtung/css/magnific-popup.css' %>
    <%= stylesheet_link_tag '/phuongtung/css/styles.css' %>
    <%= stylesheet_link_tag '/phuongtung/css/responsive.css' %>
    <%= stylesheet_link_tag '/phuongtung/css/custom.css' %>

    
    <%= favicon_link_tag '/phuongtung/images/favicon.png', rel: 'shortcut icon' %>
    <%= favicon_link_tag '/phuongtung/images/apple-touch-icon.png', rel: 'shortcut icon' %>
    <%= favicon_link_tag '/phuongtung/images/apple-touch-icon-72x72.png', rel: 'shortcut icon', size: '72x72' %>
    <%= favicon_link_tag '/phuongtung/images/apple-touch-icon-114x114.png', rel: 'shortcut icon', size: '114x114' %>
</head>

<body class="<%= @body_class %>">
    <div class="se-pre-con"></div>
    <div class="main">
        <!-- HEADER START -->
        <%= render 'erp/bonnuoclongnhien/frontend/modules/header' %>
        <!-- HEADER END -->
        
        <!-- CONTAIN START -->
        <%= yield %>
        <!-- CONTAIN END -->

        <!-- FOOTER START -->
        <%= render 'erp/bonnuoclongnhien/frontend/modules/footer' %>
        <%= render 'erp/bonnuoclongnhien/frontend/modules/scroll_up' %>
        <!-- FOOTER END -->
    </div>
    <%= render 'erp/bonnuoclongnhien/frontend/modules/javascripts' %>
</body>

</html>